
/* Define Nextflow configuration settings for SCALPEL pipeline execution */
/* ===================================================================== */

/* -> Processes */

/* Enter here the desired Nextflow parameters for execution (see https://www.nextflow.io/docs/latest/index.html)*/
/* global parameters for execution */
executor {
    name = 'local'               /* Adjust as needed */
    cpus = 64                    /* Adjust as needed */
}

/* Parameters by process */
process {
    time = '120 m'

    withLabel: bulk_quantification {
        memory = '32 GB'
        cpus = 16
    }

    withLabel: big_mem {
        cpus = 4
    }

    withLabel: small_mem {
        cpus = 2
    }
}
